/* google font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');


/* 初期化式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

/* hide要素を全て隠す */
* .hide {
    display: none;
}

/* ローディング画面 */
div .load{
    overflow: hidden;
}

h2 .load {
    position: relative;
    color: #000;
    font-size: 500px;
    text-align: center;
    z-index: 2;
}

.blocks + .load {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(255,0,0);
    box-shadow: 10px 10px 50px rgba(0,0,0,0.4);
}

/* メインコンテンツ */
main {
    display: flex;
}
div .main {
    height: 100vh;
    background-color: rgb(255,255,255);
}

/* サイドバー */
.sideTab {
    height: 310vh;
    width: 50px;
    border-radius: 15px;
    background-color: red;
}

.sideTab ul {
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-left: 10px;
}

.sideTab ul li {
    list-style: none;
    width: 100%;
    border-radius: 15px;
    float: left;
    white-space: nowrap;
}

.sideTab ul li a {
    color: white;
    width: 100%;
    text-decoration: none;
    text-align: start;
}

.sideTab ul li a .material-symbols-outlined {
    float: left;
    width: 60px;
    height: 50px;
    line-height: 60px;
}

.sideTab ul li a .title {
    padding-left: 10px;
    width: auto;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.sideTab ul li:active {
    background-color: orange;
}

.sideTab ul li:hover {
    list-style: none;
    border-radius: 15px;
    width: 100%;
    background-color: #ff6969;
}

.sideTab:hover {
    width: 1000vh;
    background-color: red;
    transition: all 0.5s 0.1s ease-in-out;
}

/* トップ */
.slideShow {
    flex: 1;
    margin: 0 30px;
}
.slideShow h1 {
    padding-top: 70px;
    text-align: center;
}
.slideShow  img {
    text-align: center;
    width: 560px;
}

article {
    text-align: left;
}
article + h2 {
    margin: 20vh;
    border:1px red;
    border-bottom: 2px solid red;
}

article + p {
    white-space: wrap;
}
div .grid {
    width: 560px;
    height: 315;
}

/* フッター */
footer div {
    background-color: red;
    width: auto;
    height: 50vh;
}
footer div p {
    padding: 23vh;
    text-align: center;
}

@media (max-width: 767px) {
    
}